<%- include('partials/header') %>

<div class="col-sm-4 google-login-container">
    <div class="card login-body">
        <div class="card-body">
            <h2 class="login-heading">This is my Webpyar Intern Assignment</h2>
            <br>
            <p class="login-desc">You can upload save download and crop images.</p>
            <p class="login-desc">You can also see Image gallery</p>
            <br>

            <a class="btn btn-block btn-primary btn-google" href='/auth/google' role="button">
                <i class="fab fa-google"></i>
                LogIn with Google
            </a>
        </div>
    </div>
</div>
